<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sora.dao.UpgradeAreaMapper" >
  <resultMap id="BaseResultMap" type="cn.sora.entity.UpgradeArea" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="service_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="area_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_to_latest" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="upgrade_version" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="code_state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="code_county" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="code_police_station" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="gmt_create" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="gmt_modified" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, service_name, area_code, is_to_latest, upgrade_version, code_state, code_county, 
    code_police_station, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from upgrade_area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from upgrade_area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sora.entity.UpgradeArea" >
    insert into upgrade_area (id, service_name, area_code, 
      is_to_latest, upgrade_version, code_state, 
      code_county, code_police_station, gmt_create, 
      gmt_modified)
    values (#{id,jdbcType=INTEGER}, #{serviceName,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{isToLatest,jdbcType=BIT}, #{upgradeVersion,jdbcType=INTEGER}, #{codeState,jdbcType=INTEGER}, 
      #{codeCounty,jdbcType=INTEGER}, #{codePoliceStation,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.sora.entity.UpgradeArea" >
    insert into upgrade_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serviceName != null" >
        service_name,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="isToLatest != null" >
        is_to_latest,
      </if>
      <if test="upgradeVersion != null" >
        upgrade_version,
      </if>
      <if test="codeState != null" >
        code_state,
      </if>
      <if test="codeCounty != null" >
        code_county,
      </if>
      <if test="codePoliceStation != null" >
        code_police_station,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="isToLatest != null" >
        #{isToLatest,jdbcType=BIT},
      </if>
      <if test="upgradeVersion != null" >
        #{upgradeVersion,jdbcType=INTEGER},
      </if>
      <if test="codeState != null" >
        #{codeState,jdbcType=INTEGER},
      </if>
      <if test="codeCounty != null" >
        #{codeCounty,jdbcType=INTEGER},
      </if>
      <if test="codePoliceStation != null" >
        #{codePoliceStation,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sora.entity.UpgradeArea" >
    update upgrade_area
    <set >
      <if test="serviceName != null" >
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="isToLatest != null" >
        is_to_latest = #{isToLatest,jdbcType=BIT},
      </if>
      <if test="upgradeVersion != null" >
        upgrade_version = #{upgradeVersion,jdbcType=INTEGER},
      </if>
      <if test="codeState != null" >
        code_state = #{codeState,jdbcType=INTEGER},
      </if>
      <if test="codeCounty != null" >
        code_county = #{codeCounty,jdbcType=INTEGER},
      </if>
      <if test="codePoliceStation != null" >
        code_police_station = #{codePoliceStation,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sora.entity.UpgradeArea" >
    update upgrade_area
    set service_name = #{serviceName,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      is_to_latest = #{isToLatest,jdbcType=BIT},
      upgrade_version = #{upgradeVersion,jdbcType=INTEGER},
      code_state = #{codeState,jdbcType=INTEGER},
      code_county = #{codeCounty,jdbcType=INTEGER},
      code_police_station = #{codePoliceStation,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>